a{
    background-color: dimgray;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    margin: 1px;
}

a:link{
    background-color: gray;
}

a:visited{
    color: white;
}

a:hover{
    background-color: rgb(37, 37, 37);
}

a:active{
    color: grey;
}