body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao a{
    padding: 15px 40px 15px 40px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    background-image: url(../img/botao.jpg);
    text-decoration: none;
    color: white;
    border: 1px solid black;
    transition: 0.7s;
    font-size: 1.2em;
}
.botao a:hover{
    background-position: bottom;
    color: black;
    transition: 0.7s;
}